@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Gilroy-800';
  font-style: normal;
  font-weight: 800;
  src: url("./font/Gilroy-ExtraBold.otf") format('truetype');
}

@font-face {
  font-family: 'Gilroy-400';
  font-style: normal;
  font-weight: 400;
  src: url("./font/Gilroy-Light.otf") format('truetype');
}


main {
  width: 1280px;
  margin: auto;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Roboto, Yu Gothic, Helvetica Neue, sans-serif;
}

.container_add30 {
  width: 1310px;
  margin: auto;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Roboto, Yu Gothic, Helvetica Neue, sans-serif;
}

p {
  margin: 0;
  color: #1E1E1E;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

ul {
  padding: 0;
}

hr {
  color: #E8E8EC;
  border-color: #E8E8EC;
  background-color: #E8E8EC;
  border: none;
  height: 1px;
}

.title_1 {
  font-family: 'Gilroy-800';
  font-size: 80px;
  line-height: 96px;
}

.title_2 {
  font-family: 'Gilroy-800';
  font-size: 62px;
  line-height: 140%;
}

.title_3 {
  font-family: 'Gilroy-800';
  font-size: 48px;
  line-height: 63px;
}

.title_4 {
  font-family: 'Gilroy-800';
  font-size: 32px;
  line-height: 39px;
}

.title_5 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
}

.title_6 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.body_1 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: -0.02em;
  margin: 0;
}

.body_2 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  margin: 0;
}

.body_3 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.body_4 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.black {
  color: #1E1E1E;
}

.blue {
  color: #3140E2;
}

.blue_C {
  color: #1F74F2;
}

.gray_1 {
  color: #616161;
}

.gray_2 {
  color: #949494;
}

.txt_center {
  text-align: center;
}

.nav {
  position: fixed;
  display: flex;
  height: 88px;
  left: 0;
  min-width: 960px;
  top: 0;
  width: 100%;
}

.icon_home {
  -webkit-text-size-adjust: 100%;
  color: #000;
  line-height: 19px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Roboto, Yu Gothic, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-left: 32px;
  max-height: 88px;
  position: relative;
  z-index: 100;
}

#header {
  -webkit-text-size-adjust: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Roboto, Yu Gothic, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  display: flex;
  height: 88px;
  left: 0;
  min-width: 960px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: hsla(0, 0%, 100%, .95);
}

.header_line {
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
}

#gnb {
  margin-left: 40px;
}

.dep1 {
  -webkit-text-size-adjust: 100%;
  color: #000;
  font-size: 15px;
  line-height: 19px;
  font-family: 'Gilroy-400';
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.dep1 li {
  -webkit-text-size-adjust: 100%;
  color: #000;
  font-size: 15px;
  line-height: 19px;
  font-family: 'Gilroy-400';
  list-style: none;
  margin: 0;
  padding: 0 20px;
  position: relative;
}

.dep1 li a {
  -webkit-text-size-adjust: 100%;
  font-family: 'Gilroy-800';
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 17px;
  height: 88px;
  line-height: 88px;
  position: relative;
  transition: color .2s;
  white-space: nowrap;
  color: #000;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
}

#content1 {
  padding-top: 120px;
}



#main_txt {
  padding-top: 120px;
  margin-top: 0;
  display: inline-block;
  width: 586px;

}

#main_img {
  padding-top: 120px;
  width: 463px;
  float: right;
  display: block;

}

#about {
  margin-top: 240px;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
  text-align: center;
}

#about_txt1 {
  margin: 0;
}

#about_txt2 {
  margin: 0;
}



#about .down-arrow {
  margin-top: 92px;
  margin-bottom: 180px;
}

#part_01 {
  margin-bottom: 180px;
}

#part_01 svg {
  float: left;
  margin-top: 16px;
  margin-bottom: 200px;
  margin-right: 160px;
}

#mockup01 {
  width: 100%;
  margin-bottom: 180px;
}

#part_02 {
  margin-top: 56px;
  margin-bottom: 180px;
}

#part_02_wrap {
  display: inline-block;
}

#part_02_title {
  margin-top: 40px;
  margin-bottom: 40px;
}

#part_02 p {
  width: 588px;
}

#part_02 img {
  float: right;
  width: 512px;
}

.btn1 {
  margin-top: 40px;
  width: 215px;
  height: 54px;
  left: 360px;
  top: 2944px;

  background: #3140E2;
  border-radius: 4px;
  border: none;

  color: #fff;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.btn1 svg {
  margin-left: 16px;
}

#part_03 {
  margin-bottom: 180px;
}

#part_03 img {
  display: inline-block;
  width: 512px;
  margin-right: 96px;

}

#part_03_title {
  margin-top: 40px;
  margin-bottom: 40px;
}

#part_03 p {
  width: 590px;
}

#part_03_wrap {
  float: right;
  margin-top: 42px;
}

#part_04 {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 180px;
  background-color: #FAFAFB;
}

#part_04 img {
  width: 971px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#part_04 p {
  width: 100%;
}

#par_04 a {
  margin: auto;
}

#part_04_detail_btn {
  margin-top: 40px;
}

#part_05 {
  margin-top: 160px;
  margin-bottom: 180px;
}

#part_05 p {
  width: 821px;
  float: right;
  margin-bottom: 56px;
}

.part_05_svg {
  float: left;
  margin-top: 16px;
  margin-bottom: 200px;
  margin-right: 160px;
}

.left_title {
  display: inline-block;
  width: 400px;
}

#WELCOME-TO-YOUR-COMMENTS {
  margin-bottom: 180px;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;

}

footer p {
  display: inline-block;
}

.footer_hr {
  margin-bottom: 40px;
}

.align_right {
  float: right;
}

#WELCOME-TO-YOUR-COMMENTS_text {
  width: 590px;
}

#dsign_principles_title {
  margin-top: 120px;
}

.pt_120 {
  padding-top: 120px;
}

.mb_8 {
  margin-bottom: 8px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_40 {
  margin-bottom: 40px;
}


.mb_150 {
  margin-bottom: 150px;
}

.principlesThumbnail {
  width: 380px;
  display: inline-block;
  margin-bottom: 40px;
}

.PrinciplesThumbnail_img {
  margin-top: 10px;
  width: 380px;
  margin-bottom: 32px;
}

.PrinciplesThumbnail_img:hover {
  width: 380px;
  margin-bottom: 32px;

  transform: translateY(-4px);
  transition-duration: 0.25s;
  box-shadow: 0px 8px 24px rgba(45, 45, 48, 0.1);


}

.PrinciplesThumbnail_description {
  height: 160px;
  width: 350px;

  overflow: hidden;
}

.mr_30 {
  padding-right: 30px;
}

.mb_180 {
  margin-bottom: 180px;
}

.btn {
  cursor: pointer;
}

.SideNav {
  width: 250px;
  height: 100%;
  border-right: 1px solid #efefef;
  box-sizing: border-box;
  height: calc(100% - 88px);
  overflow: hidden;
  position: fixed;
  top: 88px;
  z-index: 150;
  padding-top: 20px;
  padding-left: 32px;
  background-color: #fff;
}

.nav_li {
  margin-bottom: 20px;
  list-style-type: none;

}

.SidoToContents {
  margin-left: 250px;
  margin-top: 188px;
  width: 1002px;
}

.PrincipleTitle {
  margin-top: 60px;
}

.PrincipleTitle_de {
  margin-top: 16px;
  width: 562px;
}

.PrincipleWhy {
  margin-top: 140px;
  margin-bottom: 100px;
}

.PrincipleHowTo {
  margin-top: 80px;
  margin-bottom: 100px;
}

.HowToList {
  margin-top: 24px;
  margin-left: 50px;
}

.HowToList2 {
  margin-top: 12px;
  margin-left: 30px;

}

.HowToList2 li {
  margin-bottom: 4px;
}

.HowToList li {
  margin-bottom: 20px;
}

.HowToList li::marker {
  color: #1E1E1E;
}

.PrincipleHowTo img {
  width: 1002px;
}

.bold {
  font-weight: 700;
}

Link {
  color: inherit;
  text-decoration-line: none;
}

a {
  text-decoration-line: none;
}

.line {
  text-decoration-line: underline;
}

.width_1002 {
  width: 1002px;
}

.PrincipleTitle {
  width: 1002px;
  height: 300px;
}

.principle_simbol {
  width: 300px;
  float: right;
  display: block;
  top: 0;
}

.PrincipleTitle_Wrap {
  width: 570px;
  display: inline-block;
  float: left;
}